<form [formGroup]="noteForm">
  <div class="flex flex-row gap-2 align-items-center w-full">
    <input pInputText
           formControlName="title"
           placeholder="Title"
           class="flex-grow-1">
    @if (isNew()) {
      <span>
        (New)
      </span>
    }
    <p-inputSwitch formControlName="isPublic"
                   pTooltip="Public documents can be accessed by any signed-in user via URL."
                   tooltipPosition="bottom"/>
    <span>
      Author:&nbsp;{{ author?.value ?? 'Unknown' }}
    </span>
  </div>
  <app-editor [title]="title.value ?? 'Unnamed'"
              formControlName="content"/>
  @if (!isNew()) {
    <div class="flex gap-4 text-sm text-gray-700">
      <span>
        Created:&nbsp;{{ createdAt | date:'YYYY-MM-DD hh:mm' }}
      </span>
      <span>
        Updated:&nbsp;{{ updatedAt | date:'YYYY-MM-DD hh:mm' }}
      </span>
    </div>
  }
</form>
@if (loading()) {
  <div class="absolute left-0 top-0 flex align-items-center justify-content-center w-screen h-screen bg-white-alpha-10">
    <p-progressSpinner styleClass="w-4rem h-4rem"/>
  </div>
}
